<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title><%= title %></title>
    <!-- Using NOTY js for showing Notifications -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <%- style %>
  </head>
  <body>
    <%- include('partials/_header'); %>
    <main id="layout-main"><%- body %></main>
    <%- include('partials/_footer'); %> 
    <%- script %>

    <script>
              <% if (flash.success && flash.success.length > 0) { %>
                
                new Noty({
                  theme: 'mint',
                  text: "<%= flash.success %>",
                  type: 'success',
                  layout: 'topRight',
                  timeout: 1500,
                  progressBar: true,
                  closeWith: ['click'],
                  killer: true,
                }).show();
              <% } %>

              <% if (flash.error && flash.error.length > 0) { %>
                new Noty({
                  theme: 'mint',
                  text: "<%= flash.error %>",
                  type: 'error',
                  layout: 'topRight',
                  timeout: 1500,
                  progressBar: true,
                  closeWith: ['click'],
                  killer: true,
                }).show();
              <% } %>
    </script>
  </body>
</html>
